<div class="container" style="overflow:hidden;">
    <div class="row pt-5 font">
        <div class="col-xl-8 offset-xl-2 col-lg-9 offset-lg-2 col-md-12 col-12">
            <mat-card class="mt-3 mb-3 mat-elevation-z5">
                <div class="row d-bock d-lg-none d-md-none">
                    <div class="col-5 col-12">
                        <img [src]="singleMovie?.poster_path">
                    </div>
                    <div class="col-7 col-12">
                        <img src="assets/back.png" routerLink="/" style="cursor:pointer"><br>
                        <p class="title">{{singleMovie?.title}}</p>
                        <p class="rating">Rating:&nbsp;&nbsp;{{singleMovie?.vote_average}}/10</p>
                        <p class="cont">{{singleMovie?.overview}}</p>
                        <div class="row rating">
                            <div class="col-5">
                                <p>Release Date:</p>
                                <p>Orginal Language:</p>
                            </div>
                            <div class="col-7">
                                <p>{{singleMovie?.release_date}}</p>
                                <div style="display:contents" *ngFor="let lang of singleMovie?.spoken_languages">
                                {{lang.english_name}},</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-block">
                <div class="row">
                    <div class="col-7">
                        <img src="assets/back.png" routerLink="/" style="cursor:pointer"><br>
                        <p class="title">{{singleMovie?.title}}</p>
                        <p class="rating">Rating:&nbsp;&nbsp;{{singleMovie?.vote_average}}/10</p>
                        <p class="cont">{{singleMovie?.overview}}</p>
                        <div class="row rating">
                            <div class="col-5">
                                <p>Release Date:</p>
                                <p>Orginal Language:</p>
                            </div>
                            <div class="col-7">
                                <p>{{singleMovie?.release_date}}</p>
                                <div style="display:contents" *ngFor="let lang of singleMovie?.spoken_languages">
                                {{lang.english_name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <img [src]="singleMovie?.poster_path">
                    </div>
                </div>
                </div>
            </mat-card>
        </div>        
    </div>
</div>
