.title{
    font-family: 'Helvetica Neue LT Pro';
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.rating{
    font-family: 'Helvetica Neue LT Pro';
    color: #000000;
    font-size: 16px;
}
.cont{
    font-family: 'Helvetica Neue LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}
