<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Search Movies" oninput="this.value = this.value.replace(/^\s+/g, '').replace(/[.](\..*)\./g, '$1');" (input)="searchMovies(key,search)" [(ngModel)]="search" id="head_serach" style="cursor:pointer;">
                <mat-icon matSuffix class="text-secondary" style="cursor: pointer;" (click)="searchMovies(search)">search</mat-icon>
            </mat-form-field> 
        </div>
    </div>
    <div class="row mt-5">
        <p style="font-family:poppins;">Trending</p>
        <div class="col-lg-3 col-md-4 col-12 mt-4 mb-4" *ngFor="let movie of movieList" style="height:200px">
             <img routerLink="movie/view/{{movie.id}}" alt="image" style="height:100px;cursor: pointer;" src="{{movie.poster_path}}">
                <div class="mt-2" style="background-color:#D9D9D9;height:100px">
                    <p class="ms-2 mt-2 title">{{movie.title}}</p>
                        <div class="row ms-1">
                            <div class="col-1">
                                <mat-icon class="star-rating">star</mat-icon>
                            </div>
                            <div class="col-3" style="margin-bottom:0px">
                                <span>{{movie.vote_average}}/10</span>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>
