.star-rating{
    color: #ffd700;
}
#search-addon{
    color: blue;
}
.title,span,input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}